---

---


$primary-color: #007bff;  
$secondary-color: #ffdd00;  


.header {
    background-color: $primary-color; 
    color: $secondary-color;           
}

.footer {
    background-color: $primary-color; 
    color: $secondary-color;           
}

a {
    color: $primary-color; 
}

h1, h2, h3, h4, h5, h6 {
    color: $secondary-color; 
}


.button {
    background-color: $primary-color; 
    color: $secondary-color;           
}